name: Arduino Library CI

on: [pull_request, push, repository_dispatch]

jobs:
  clang-format:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format
      uses: jidicula/clang-format-action@v4.15.0
      with:
        clang-format-version: '18'

  clang_and_doxy:
    needs: clang-format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1

    - uses: actions/checkout@v4
      with:
         repository: adafruit/ci-arduino
         path: ci

    - name: pre-install
      run: bash ci/actions_install.sh

#    - name: clang
#      run: python3 ci/run-clang-format.py -e "ci/*" -e "bin/*" -r .

    - name: doxygen
      env:
        GH_REPO_TOKEN: ${{ secrets.GH_REPO_TOKEN }}
        PRETTYNAME : "Adafruit Arcada Library"
      run: bash ci/doxy_gen_and_deploy.sh


  build:
    strategy:
      fail-fast: false
      matrix:
        arduino-platform: ["pybadge", "pybadge_tinyusb", "pygamer", "pyportal",
	                   "hallowing_m4", "hallowing_m0", "clue",
                           "monster_m4sk", "cpx_ada", "pyportal_titano"]

    runs-on: ubuntu-latest
    needs: [clang-format, clang_and_doxy]
    
    steps:
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - uses: actions/checkout@v3
    - uses: actions/checkout@v3
      with:
         repository: adafruit/ci-arduino
         path: ci

    - name: pre-install
      run: bash ci/actions_install.sh

    # manually install WiFi
    - name: extra libraries
      run: |
        git clone --quiet https://github.com/adafruit/WiFiNINA.git /home/runner/Arduino/libraries/WiFiNINA

    - name: test platforms
      run: python3 ci/build_platform.py ${{ matrix.arduino-platform }}


